<div
  *ngIf="!data.stepData.isFinalStep"
  data-testid="icon"
  class="min-w-[54px] max-w-[54px] h-[52px] relative grid place-items-center"
>
  <span
    class="ki-outline ki-{{ data.stepData.icon }} text-{{
      data.stepData.color
    }} text-[27px] leading-none"
  ></span>
</div>

<span
  *ngIf="data.stepData.isFinalStep"
  data-testid="icon"
  class="ki-outline ki-{{ data.stepData.icon }} text-{{
    data.stepData.color
  }} text-[27px] leading-none"
></span>

<div
  class="absolute inset-0 bg-{{
    data.stepData.color
  }} rounded-[9px] -z-[1] bg-opacity-10 border border-{{
    data.stepData.color
  }}  {{ data.stepData.color !== 'green' ? 'border-opacity-20' : '' }}"
></div>

<!-- <div
  *ngIf="data.label === 'Add'"
  class="min-w-14 max-w-14 h-[104px] rounded-l-lg relative grid place-items-center"
  style="background: orange"
>
  <span class="ki-outline ki-book text-white text-4xl"></span>
</div>
<ng-container *ngIf="data.label !== 'Add'">
  <div
    class="min-w-14 max-w-14 h-[104px] rounded-l-lg relative grid place-items-center"
    style="background: #008f75"
  >
    <span class="ki-outline ki-happy-emoji text-white text-4xl"></span>
  </div>
</ng-container> -->

<!-- Inputs -->
<div class="inputs group/inputs">
  <div
    class="input"
    *ngFor="let input of data.inputs | keyvalue : sortByIndex"
    [attr.data-testid]="'input-' + input.key"
  >
    <div
      class="input-socket"
      refComponent
      [data]="{
        type: 'socket',
        side: 'input',
        key: input.key,
        nodeId: data.id,
        payload: input.value?.socket,
        seed: seed
      }"
      [emit]="emit"
      data-testid="input-socket"
    ></div>
  </div>
</div>

<div class="text-sm font-semibold">
  <!-- Title -->
  <div class="text-[#16203E] mb-[3px]" data-testid="title">
    {{ data.label }}
  </div>

  <p class="text-[#8A99B0]" *ngIf="!data.stepData.isFinalStep">
    {{ data.stepData.description }}
  </p>
</div>

<!-- Controls -->
<!-- <div
  class="control"
  *ngFor="let control of data.controls | keyvalue : sortByIndex"
  refComponent
  [data]="{ type: 'control', payload: control.value }"
  [emit]="emit"
  [attr.data-testid]="'control-' + control.key"
></div> -->

<!-- Output -->
<div class="outputs group/outputs">
  <div
    class="output"
    *ngFor="let output of data.outputs | keyvalue : sortByIndex"
    [attr.data-testid]="'output-' + output.key"
  >
    <div
      class="output-socket"
      refComponent
      [data]="{
        type: 'socket',
        side: 'output',
        key: output.key,
        nodeId: data.id,
        payload: output.value?.socket,
        seed: seed
      }"
      [emit]="emit"
      data-testid="output-socket"
    ></div>
  </div>
</div>

<!-- side menu -->
<div
  *ngIf="!data.stepData.isFinalStep"
  class="absolute transition-all ease-in-out duration-500 right-0 group-hover/node-main:-right-9 top-0 bottom-0 flex flex-col justify-between gap-[5px] bg-transparent group-hover/node-main:bg-white opacity-0 group-hover/node-main:opacity-100"
>
  <button class="w-6 h-6 rounded-md bg-purple/20 grid place-items-center">
    <i class="ki-outline ki-setting-2 text-purple"></i>
  </button>
  <button class="w-6 h-6 rounded-md bg-blue/20 grid place-items-center">
    <i class="ki-outline ki-copy text-blue"></i>
  </button>
  <button
    (click)="handleNodeDelete(data.id)"
    class="w-6 h-6 rounded-md bg-red/20 grid place-items-center"
  >
    <i class="ki-outline ki-trash text-red"></i>
  </button>
</div>
