@use "sass:math";
@import "../../vars";

svg {
  @apply overflow-visible absolute pointer-events-none;

  path {
    stroke-linecap: round;
    stroke-dasharray: 6;
    stroke-dashoffset: 6;
    @apply fill-none stroke-2 pointer-events-auto stroke-[#8A99B0];

    &.selected {
      @apply stroke-blue;
    }
  }
}
