<button (click)="handleStoreInitialData()" class="mr-5">store</button>
<button (click)="handleSaveChart()">save</button>
<div class="flex items-center gap-5 pl-8">
  <!-- <app-click-strategy-sidebar></app-click-strategy-sidebar> -->

  <app-drag-drop-strategy-sidebar
    *ngIf="editor && area; else emptySidebar"
    [area]="area"
    [editor]="editor"
  ></app-drag-drop-strategy-sidebar>

  <div class="rete" #rete></div>
</div>
<ng-template #emptySidebar>
  <div
    class="min-w-[315px] bg-white shadow-xl rounded-[15px] border h-[calc(100vh-2rem)] py-[30px]"
  ></div
></ng-template>
