<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .rete {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    background: white;
    padding: 1em;
    text-align: left;
    user-select: none;
  }
</style>

<!-- <div class="content" role="main"> -->
<div class="rete" #rete></div>
<!-- </div> -->
