.april-icon.langauge {
  background-image: url("../../../assets/icons/language.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  background-size: cover;
}

.duetone {
  @apply w-7 h-7 p-2 cursor-pointer rounded-lg flex flex-row justify-center items-center;
  i {
    @apply text-lg;
  }
}
