.mat-mdc-form-field {
  &:hover {}

  .mat-mdc-form-field-focus-overlay {
    opacity: 0 !important;
  }

  .mat-mdc-text-field-wrapper {
    border: 1px solid #ccc;

    .mat-mdc-floating-label.mdc-floating-label--float-above {
      top: 34px !important;
    }

    &.mdc-text-field--filled {
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: transparent;
    }



    .mdc-line-ripple {
      display: none;
    }
  }

  &.filter-field {
    .mat-mdc-text-field-wrapper {
      @apply border-0 rounded shadow bg-white;

      .mat-mdc-floating-label.mdc-floating-label--float-above {
        top: 34px !important;
      }

      &.mdc-text-field--filled {
        @apply border-0 rounded shadow;
        background-color: #fff !important;
        border-radius: 12px !important;

      }



      .mdc-line-ripple {
        display: none;
      }
    }
  }

  &.header-field {
    .mat-mdc-text-field-wrapper {
      @apply border-0 rounded shadow bg-white;

      .mat-mdc-floating-label.mdc-floating-label--float-above {
        display: none;
      }

      .mat-mdc-select-arrow-wrapper {
        transform: translateY(0);
      }



      &.mdc-text-field--filled {
        @apply border-0 rounded shadow;
        background-color: #fff !important;
        border-radius: 4px !important;
        height: 40px;
      }

      .mat-mdc-form-field-infix {
        padding-top: 8px;
        min-height: auto;
      }



      .mdc-line-ripple {
        display: none;
      }
    }

    .mat-mdc-form-field-bottom-align {
      display: none;
    }
  }


}



input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: red;
}

mat-form-field input::placeholder {

  color: #a7a9cf !important;
}

.mat-mdc-card.mdc-card {
  @apply rounded-xl shadow p-4;

  .card-actions {
    @apply absolute bottom-0 w-full left-0 border-t-[1px] border-gray-300 p-4 z-30 bg-white flex flex-row gap-4 items-center justify-end;
  }
}

.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {}



[dir=rtl] .mat-form-field {
  text-align: start;
  direction: rtl;
}
