html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  color: $body-color;
  background-color: $body-bg-color;

}

body.ar {
  font-family: $font-family-ar !important;
}

a,
input,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;

}

.ar {

  a,
  input,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-ar;

  }
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mat-card-title {
  color: $body-color;
}


.test-taja{
  font-family: $font-family-taja !important;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

input {
  @apply outline-none;
}


