@use "@angular/material" as mat;
@import "colors";
@import "variables";
@import "april-icons";
@import 'material';
@import 'buttons';
@import 'lists';
@import 'progress_bar';
@import 'accordion';
@import 'slider';
@import 'inline_editing_input';


@include mat.core();

$main-primary: mat.define-palette($primary);
$main-accent: mat.define-palette($rosebrown);
$main-warn: mat.define-palette(mat.$red-palette);

$main-typography: mat.define-typography-config(
  $font-family: $font-family-ar,
);

$main-theme: mat.define-light-theme(
  (
    color: (
      primary: $main-primary,
      accent: $main-accent,
      warn: $main-warn,
    ),
    typography: $main-typography,
  )
);

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($main-theme);


